<div class="ui middle aligned center aligned grid box_centered">
  <div class="column">
    <h2 class="ui icon header">
      <i class="broadcast tower icon"></i>
      <div class="content">
        iot monitor
      </div>
    </h2>
  </div>
</div>
